.input {
    background: white;
    /* padding: ".75rem .75rem"; */
    border-color: var(--brown--color);
    box-shadow: none;
    width: 15em;
    border-width: 1.5px;
    border-radius: 3em;
    font-size: "1rem";
    font-family: "GowunBatang-Bold";
    text-align: center;
    outline: none;
  }