.inputbutton {
  color: white;
  background: var(--orange--color);
  padding: ".75rem .75rem";
  border-color: var(--orange--color);
  border-radius: 0.6em;
  font-size: "1rem";
  font-family: "GowunBatang-Bold";
  text-align: center;
  box-shadow: none;
  outline: none;
}

.outputbutton {
  color: var(--orange--color);
  background: white;
  padding: ".75rem .75rem";
  border-color: var(--orange--color);
  border-radius: 0.6em;
  font-size: "1rem";
  font-family: "GowunBatang-Bold";
  text-align: center;
  box-shadow: none;
  outline: none;
}

.small {
  width: 50px;
  box-shadow: none;
  outline: none;
}

.medium {
  width: 80px;
  box-shadow: none;
  outline: none;
}

.large {
  width: 130px;
  box-shadow: none;
  outline: none;
}

.medium-large {
  width: 80px;
  height: 40px;
  box-shadow: none;
  outline: none;
}
