.community-Box{
    width: 80%;
    margin: 5% auto;
}

.communityregister-title{
    font-size: 1.3rem;
    width: 50%;
    margin: 1% auto;
    margin-top: 7%;
    text-align: center;
    border: none;
    justify-content: center;
    display: flex;
    border-bottom: 2px solid #CBA285;
}

.communityregister-title:focus{
    border: none;
    border-bottom: 2px solid #CBA285;
}

.communityText-Box{
    border-top: 2px solid #CBA285;
    border-bottom: 2px solid #CBA285;
}