.ProfileImage {
    width: 100px;
    height: 100px; 
    border-radius: 70%;
    overflow: hidden;
    background-color: var(--yellow-color);
    border-style: solid;
    border-color: var(--brown--color);
    border-width: 1px;
}