body {
  padding-top: 100px; /* Adjust this value based on the height of your header */
  padding-bottom: 100px; /* Adjust this value based on the height of your footer */
  padding-left: 100px;
  justify-content: center; /* Adjust this value based on the width of your sidebar */
}

/* 더보기버튼 */
.bottom-add .inputbutton {
  margin-top: 5em;
  margin-left: 45em;
  justify-content: center;
  align-items: center;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #d3d3d3;

  color: var(--brown--color);
  border-left: none;
  border-right: none;
  border-top: none;
}

.custom-table th,
.custom-table tr:last-child td {
  border-bottom: 2px solid var(--brown--color);
}

.custom-table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #d3d3d3;
}

/* 회색줄 사이 간격 */
.custom-table td {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* 정렬기능버튼 */
.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.arrow-up {
  color: var(--brown--color);
}

.arrow-down {
  color: var(--brown--color);
}

.sort-button:focus {
  outline: none;
}

/* 클래스이름간격조정 */
.custom-table td {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
  width: 30%;
}

.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
  width: 20%;
}

/* 메인컨텐트중앙 */
.table-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.custom-table {
  width: 100%;
}

/* 첨부파일 */
.attachment-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

/* 버튼 최종 조정 */
.button-group .outputbutton {
  margin-left: 1em;
}

.button-group .inputbutton {
  margin-left: -3em;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
  width: 25%;
}

.inputbutton {
  outline: none;
  box-shadow: none;
}

.outputbutton {
  outline: none;
  box-shadow: none;
}

.custom-table td:last-child {
  border: none;
}
