.division-line {
  display: flex;
  border-top: 2px solid var(--brown--color);
  width: 50em;
  position: relative;
  margin-top: 4em;
  margin-left: 30em;
  margin-bottom: -5em;
}

.fileadd {
  display: flex;
  margin-top: 1em;
  justify-content: center;
  margin-left: 15em;
}
