.dragdrop {
  display: flex;
  width: 80px;
  flex-direction: column;
  margin-left: 20em;
  /* 모니터화면
  margin-left: 40em; */
  margin-bottom: 7em;
  margin-top: 3em;
  /* justify-content: center;
  text-align: center;
  align-items: center; */
}

.inputbanner {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  text-align: center;
  align-items: center; */
  margin-left: 20em;
  margin-top: -5em;
}

.fileadd {
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 35em;
}
