:root {
    /* color */
    --yellow-color: #FEFBEC;
    --grey--color: #B0A695;
    --orange--color: #F6C47B;
    --brown--color: #B9835C

    /* font-size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

body {
  font-family: GowunBatang-Regular
  }
