/* 카드 박스 */
.card-Box {
    width: 250px;
    height: 350px;
    margin: 5px;
    box-shadow: none !important;
    border: #F6C47B solid 2px;
}

/* 날짜 + icon 요소 */
.detail-element{
    overflow: hidden;
    margin-bottom: 5px;
}

.views-date{
    float: left;
    color : #B9835C;
    clear : both;
}

.views-icons{
    float: right;
}

.views-title{
    font-size: 25px;
}